* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;

  background: #293241;

  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

header {
  margin-top: 107px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: #FFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

header p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 23px;
}

.page {
  width: 750px;
  margin: auto;
}

h2 {
  color: #FFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  width: 758px;
  height: 133px;
  border-radius: 20px 20px 0 0;
  background: #F67669;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #FFF;
  border-radius: 0 0 20px 20px;
  min-height: 300px;

  width: 758px;
  padding: 0 64px 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 392px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

fieldset legend {
  color: #253B51;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  margin-top: 32px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper label {
  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.input-wrapper label span {
  color: #C1BCCC;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.fullname {
  display: flex;
  gap: 22px;
  align-items: center;
}

.fullname > div {
  width: 50%;
}

.input-wrapper input, .input-wrapper select {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;

  color: #C1BCCC;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#mentorship-mentor {
  width: 50%;
}

.input-wrapper textarea {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 166px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;

  color: #292829;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 30px;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-wrapper input:focus ~ .checkmark {
  outline: 1px solid black;
}

.next-mentorship {
  display: flex;
  gap: 10px;
  align-items: center;
}

.next-mentorship > div:nth-child(1) {
  width: 50%;
}

.date-margin {
  margin-right: 22px;
}

button {
  display: flex;
  width: 622px;
  height: 51px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F67669;
  border: none;

  margin-top: 76px;

  color: #FFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  }

  button:hover {
    background: #dd6456;
    cursor: pointer;
  }

  input:invalid {
    border: 1px solid #ff1010;
  }